@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --brand-primary:#F97316; /* orange */
  --brand-peach:#FDBA74;
  --brand-heart:#B91C1C;
}

body{
  background: linear-gradient(to bottom, #FFFAF5, #FFFFFF);
}
